.todoApp {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100vh;
  width: 100%;

  z-index: 10;

  background: transparent;
}
.todos {
  margin-top: 160px;
  max-width: 550px;
  width: 100%;
  position: absolute;

  border: 1px solid white;
}

.title {
  font-size: 100px;
  font-weight: 100;
}

.todos__input {
  width: 100%;
  height: 66px;

  padding: 16px 16px 16px 60px;
  font-size: 20px;

  background: #000;

  border: none;
}

.todos__input:focus {
  outline: none;
  border: 2px solid #ecd4d4;
  border-radius: 2px;
}

.todos__list {
  list-style: none;
}

.button {
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;

  margin-right: 15px;
}

.focus:focus {
  border: 1px solid #5dc2af;
}

.todo_item__value__checked {
  text-decoration: line-through;
  transition: color ease-out 0.4s;
}

.todo_form {
  position: relative;
}

.todo_form__sellectAll {
  margin-left: 15px;
  position: absolute;
  z-index: 2;
  top: 50%;

  background: #000;

  transform: translateY(-50%);
}

.todo_form__sellectAll img {
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.todos__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  background: #000;

  border-top: #ebdcdc 1px solid;
}

.page {
  padding: 5px;
  border: none;
  background: #000;
  cursor: pointer;
}

.page:hover {
  background: gray;
}

.page:active {
  background: gray;
}

.page__active {
  background: gray;
}
