.todoApp {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  height: 100vh;
  filter: invert(1);
}

.todos {
  margin-top: 160px;
  max-width: 550px;
  width: 100%;
  position: absolute;
  // z-index: -1;
}

.title {
  font-size: 100px;
  font-weight: 100;
  color: #ecd4d4;
}

.todos__input {
  width: 100%;
  height: 66px;

  padding: 16px 16px 16px 60px;
  font-size: 20px;

  border: none;
}

.todos__input:focus {
  outline: none;
  border: 2px solid #ecd4d4;
  border-radius: 2px;
}

.todos__input::placeholder {
  color: #ebdcdc;
}

.todos__list {
  list-style: none;
}

.button {
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;

  margin-right: 15px;
}

.focus:focus {
  border: 1px solid #5dc2af;
}

.todo_item__value__checked {
  text-decoration: line-through;
  color: #5dc2af;
  transition: color ease-out 0.4s;
}

.todo_form {
  position: relative;
}

.todo_form__sellectAll {
  margin-left: 15px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.todo_form__sellectAll img {
  background: white;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.todos__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  background: white;
  border-top: #ebdcdc 1px solid;
}

.page {
  padding: 5px;
  background: white;
  border: none;

  cursor: pointer;
}

.page:hover {
  background: #ebdcdc;
}

.page:active {
  background: #5dc2af;
}

.page__active {
  background: #ebdcdc;
}
